.auditions-announcements-container {
    background: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    min-width: 30%;
    overflow: hidden;
  }
  
  .auditions-list {
    list-style-type: none;
    padding: 0;
  }
  
  .audition-item {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #eee; /* Lighter border for inner items */
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 4px;
  }
  
  .audition-item h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px; /* Added bottom margin for spacing */
    border-bottom: 1px solid #eee; /* Underline for title */
  }
  
  .btn-details {
    background-color: #007bff; /* Matching the color theme */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px; /* Added margin for spacing from the text */
    text-align: center; /* Centering the text */
    display: inline-block; /* To apply text-align */
    text-decoration: none; /* Remove underline from links */
  }
  
  .btn-details:hover {
    background-color: #0056b3; /* Darker shade on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adding shadow for effect */
  }

  .audition-link {
    color: inherit; /* Inherit the text color from the parent */
    text-decoration: none; /* Removes underline from links */
    /* Any other styles to match your h1 */
  }